.scrollable {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: left;
}

.container {
    /*position: relative;*/
}

.offsetDiv {
    height: 0;
    background-color: rgba(255, 255, 255, 0.0);
    position: relative;
    overflow: visible;
}

.loadingInfo {
    display: block;
    position: absolute;
    background-color: rgba(218, 165, 32, 0.8);
    color: white;
    width: 99%;
    height: 10px;
    border-radius: 5px 0 0 5px;

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: x-small !important;
    line-height: 1em;
}

.loadingInfo div {
    width: 90%;
    text-align: right;
}

.noResults {
    display: block;
    position: absolute;
    /*background-color: rgba(218, 165, 32, 0.8);*/
    color: rgba(218, 41, 33, 0.9);
    width: 99%;
    height: 30px;
    /*border-radius: 5px 0 0 5px;*/

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: medium !important;
    line-height: 1em;
}

.noResults div {
    margin-left: 5px;
    text-align: left;
}

.errorInfo {
    display: block;
    position: absolute;
    background-color: rgba(218, 41, 33, 0.9);
    color: white;
    width: 99%;
    height: 10px;
    border-radius: 5px 5px 5px 5px;

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: x-small !important;
    line-height: 1em;
}

.errorInfo:hover {
    background-color: rgb(218, 22, 30);
    cursor: pointer;
}

.errorInfo div {
    width: 99%;
    text-align: center;
}
