.scrollable {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    text-align: left;
}

.offsetDiv {
    height: 0;
    background: white;
    opacity: 0.1;
}

.contactFormCell {
    padding-left: 20px;
}